{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offers creation</h1>
    {{ form_start(form) }}

    {{ form_widget(form.produits) }}
    {{ form_errors(form.produits) }}

        <input type="submit" value="Create" />
    {{ form_end(form) }}


{% endblock %}
