{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="titre_vendeur">Je consulte les offres</h1>


    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Ville</label>
        <div class="col-xs-10">
            {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ville) }}
        </div>
    </div>






{% endblock %}
