body{
    background-image: url("http://miriadna.com/desctopwalls/images/max/The-summer-fields.jpg");
}
div h1 {
    text-align: center;
    color: green;
    margin-bottom: 25px;;
}

h3{
    text-align: center;

}

.quality{
    border: 2px solid white;
    padding

}

.button{
    display: block;
    margin: auto;
}




